[Desktop Entry]
Type=Application
Version=1.3
Encoding=UTF-8
Terminal=false
StartupNotify=true
GenericName=Desktop sticky notes
Name=QSticky
Exec=qsticky
Icon=/usr/share/icons/hicolor/128x128/apps/qsticky.png
Categories=Qt;Utility;
